body {
    font-family: "微软雅黑";
    //background: #057291;
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
}

/** 左侧导航 **/
#left {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20px;
}
#left > div {
    background: #071927;
    border-bottom:1px solid #eee;
}
#left > div .current {
    background: #fff;
}
#main > img {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}
/** 网站主体 **/
.item {
    color: #fff;
    width: 80%;
    margin: 0;
    padding: 0 50px;
    overflow: hidden;
}
.title {
    position: relative;
    top: 50px;
    text-align: center;
    color: #fff;

}
.title > h1 {
    font-size: 50px;
    color: #fff;
}
.content {
    text-align: left;
    padding: 100px 200px;
}
@keyframes menu {
    from {width: 100%;}
    to {width: 20%;}
}
@-moz-keyframes menu {
    from {width: 100%;}
    to {width: 20%;}
}
@-webkit-keyframes menu {
    from {width: 100%;}
    to {width: 20%;}
}
@-o-keyframes menu {
    from {width: 100%;}
    to {width: 20%;}
}
#menu > li {
    display: inline-block;
    background: #382F4D;
    width: 100%;
    margin: 5px 0;
}
#menu > li:hover {
    /* animation: menu 0.2s; */
    /* -moz-animation: menu 0.2s; */
    /* -webkit-animation: menu 0.2s; */
    /* -o-animation: menu 0.2s; */
}
#menu > li > span {
    background: #7D3846;
    margin-right: 15px;
    border-radius: 20px;
    display: inline-block;
    width: 35px;
    text-align: center;
}
